@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Poppins:wght@400;700&display=swap');

// Colors
$green: #839774;
$pink: #f6c4b6;
$white: #ebe8e6;

// fonts
$cursive: 'Dancing Script', cursive;

// breakpoints
$md-up: 'min-width: 1000px';
